body {
  background: #f4f4f4;
}

img {
  width: 100%;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.container-fluid h5 {
  color: white;
  justify-content: center;
}

.nav-link {
  color: white;
}

.container {
  width: 5000px;
  height: 500px;
  margin: auto;
}

.container input {
  margin: 20px;
}

.card {
  margin: 20px;
}

.add {
  background-color: black;
  color: white;
  border-radius: 3px;
}

.row {
  height: 92%;
}

/* .basket {
 background-color: black;
} */

